{% extends "KanboardWebBundle::base.html.twig" %}

{% block mainContent %}

    <form action="{{ path('login') }}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="_username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="_password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" name="login" type="submit">Log in</button>
    </form>
{% endblock %}