{% extends "KanboardWebBundle::base.html.twig" %}

{% block mainContent %}
    <div class="form-container">
        {{ form_start(form) }}
        <p>
            {{ form_row(form.name, {'attr': {'class': 'form-control'} }) }}
        </p>
        <p>
            {{ form_row(form.add, {'attr': {'class': 'btn btn-primary btn-lg btn-block'} }) }}
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}