{% extends "KanboardWebBundle::base.html.twig" %}

{% block mainContent %}
    <a href="{{ path('board_add_member', {"boardId": app.request.get("boardId")}) }}">Add member</a>
    <div>
        <h3>Members</h3>
        {% if members is not empty %}
            <table class="table">
                <tr>
                    <th>Email</th>
                    <th>Disable</th>
                </tr>
                {% for member in members %}
                    <tr>
                        <td>{{ member.email }}</td>
                        <td>
                            {% if app.user.id != member.id %}
                                <a href="{{ path('board_disable_member', {"boardId": app.request.get("boardId"), "userId": member.id}) }}">Disable</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            You don't have any boards yet.
        {% endif %}
    </div>
{% endblock %}