{% extends "KanboardWebBundle::base.html.twig" %}

{% block mainContent %}
    <div class="columns-overflow-container">
        {% for column in columns %}
            <section class="kb-column-container">
                <div class="kb-column-info">
                    <header>
                        <h4 class="column_name">{{ column.name }}</h4>
                        <div class="kb-column-control-container">
                            <a href="{{ path('edit_column', {"columnId": column.id}) }}">Edit</a>
                            <em>|</em>
                            <a href="{{ path('delete_column', {"columnId": column.id}) }}">Delete</a>
                        </div>
                    </header>
                    <div class="clearfix"></div>
                    <div class="kb-column-data">
                        <ul>
                            <li>Cards: {{ column.cards | length }}</li>
                            <li>Estimation: {{ column.cards | estimateTimeSummer }}</li>
                            <li>Remaning: {{ column.cards | remainingTimeSummer }}</li>
                        </ul>
                    </div>
                </div>
                {% for card in column.cards %}
                    <article class="kb-card-container">
                        <div class="kb-card-header">
                            <h4 class="kb-card-name">{{ card.name }}</h4>
                            <div class="kb-card-controls-container">
                                <a href="{{ path('edit_card', {"cardId": card.id}) }}">Edit</a>
                                <em>|</em>
                                <a href="{{ path('delete_card', {"cardId": card.id}) }}">Delete</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p>
                            {{ card.description }}
                        </p>
                        <div class="clearfix"></div>
                    </article>
                {% endfor %}
                <hr/>
                <a href="{{ path('add_card', {"columnId": column.id}) }}">Add card</a>
            </section>
        {% endfor %}
        <div class="clearfix"></div>
        <hr/>
        <a href="{{ path('create_column', {"boardId": app.request.get("boardId")}) }}">Create column</a>
    </div>
{% endblock %}