{% extends "KanboardWebBundle::base.html.twig" %}

{% block mainContent %}
    <a href="{{ path('board_create') }}">Create board</a>
    <div>
        <h3>Boards</h3>
        {% if ownBoards is not empty %}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Created date</th>
                    <th>Members</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for board in ownBoards %}
                    <tr>
                        <td><a href="{{ path('board_columns', {"boardId": board.id}) }}">{{ board.name }}</a></td>
                        <td>{{ board.createdDate|date("m/d/Y") }}</td>
                        <td><a href="{{ path('board_members', {"boardId": board.id}) }}">Members</a></td>
                        <td><a href="{{ path('edit_board', {"boardId": board.id}) }}">Edit</a></td>
                        <td><a href="{{ path('delete_board', {"boardId": board.id}) }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            You don't have any boards yet.
        {% endif %}
    </div>
    <hr/>
    <div>
        <h3>Other boards</h3>
        {% if otherBoards is not empty %}
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                {% for board in otherBoards %}
                    <tr>
                        <td><a href="{{ path('board_columns', {"boardId": board.id}) }}">{{ board.name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            You aren't added in to any boards.
        {% endif %}
    </div>
{% endblock %}