{% extends "KanboardWebBundle::base.html.twig" %}

{% block mainContent %}
    <div class="form-container">
        {{ form_start(form) }}
        <p>
            {{ form_row(form.name, {'attr': {'class': 'form-control'} }) }}
        </p>

        <p>
            {{ form_row(form.description, {'attr': {'class': 'form-control'} }) }}
        </p>

        <p>
            {{ form_row(form.dueDate, {'attr': {'class': 'form-control'} }) }}
        </p>

        <p>
            {{ form_row(form.estimateTime, {'attr': {'class': 'form-control'} }) }}
        </p>

        <p>
            {{ form_row(form.spentTime, {'attr': {'class': 'form-control'} }) }}
        </p>

        <p>
            {{ form_row(form.remainingTime, {'attr': {'class': 'form-control'} }) }}
        </p>

        <p>
            <h5>Members</h5>
            {% for member in form.members %}
                <li>{{ form_widget(member) }}{{ form_label(member) }}</li>
            {% endfor %}

            {{ form_row(form.members, {'attr': {'class': 'form-control'} }) }}
        </p>

        <p>
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary btn-lg btn-block'} }) }}
        </p>
        {{ form_end(form) }}
    </div>
    {% if card.id is not null %}
        <hr/>
        <h3>Checklists</h3>
        <section>
            {% for checklist in card.checklists %}
                <article class="kb-checklist-container">
                    <header>
                        <h4 class="kb-checklist-name">{{ checklist.name }} - {{ checklist.items | length }} item(s)</h4>
                        <div class="kb-checklist-control-container">
                            <a href="{{ path('delete_checklist', {"checklistId": checklist.id}) }}">Delete</a>
                        </div>
                    </header>
                    <div class="clearfix"></div>
                    <a href="{{ path('add_checklist_item', {"checklistId": checklist.id}) }}">Add an item</a>
                    <table class="table table-hover">
                        {% for item in checklist.items %}
                            <tr>
                                <td>
                                    {{ item.description }}
                                </td>
                                <td>
                                    {{ item.done ? 'Done' : 'Not done' }}
                                </td>
                                <td>
                                    <a href="{{ path('delete_checklist_item', {"itemId": item.id}) }}">Delete</a>
                                </td>
                                <td>
                                    <a href="{{ path('edit_checklist_item', {"itemId": item.id}) }}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </article>
            {% endfor %}
            <div class="clearfix"></div>
            <a href="{{ path('create_checklist', {"cardId": app.request.get("cardId")}) }}" class="btn btn-primary">Create checklist</a>
        </section>
        <hr/>
        <h3>Comments</h3>
        <div class="kb-comments-container">
            <a href="{{ path('card_add_comment', {"cardId": app.request.get("cardId")}) }}" class="btn btn-primary">Add comment</a>
            <table class="table table-hover">
                {% for comment in card.comments %}
                    <tr>
                        <td>
                            {{ comment.user.email }} - {{ comment.createdDate | date("d/m/Y") }}
                        </td>
                        <td>
                            <p>{{ comment.comment }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}