<!doctype html>
<html lang="en">
<head>
    <title>Kanboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% javascripts '@KanboardWebBundle/Resources/public/bootstrap/js/bootstrap.min.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets filter='cssrewrite'
    '@KanboardWebBundle/Resources/public/css/style.css'
    '@KanboardWebBundle/Resources/public/bootstrap/css/bootstrap.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <!--[if lt IE 9]>
        {% javascripts '@KanboardWebBundle/Resources/public/js/html5shiv.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    <![endif]-->

</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}">Kanboard</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('user_boards') }}">Boards</a></li>
                        <li><a href="{{ path('_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Login</a></li>
                        <li><a href="{{ path('registration') }}">Registration</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="main-container container">
        {% block mainContent %}{% endblock %}
    </div>
</div>
</body>
</html>
