body {
    background-color: #eee !important;
}

.form-signin, .form-container {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Columns */
.columns-overflow-container {
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: visible;
    overflow-y: hidden;
}

.kb-column-container {
    position: relative;
    width: 300px;
    margin: 0 5px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    padding: 10px 15px;
    background: #fff;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.kb-column-control-container, .kb-card-controls-container, .kb-checklist-control-container   {
    float: right;
}

.column_name, .kb-card-name, .kb-checklist-name {
    float: left;
}

.kb-card-container {
    position: relative;
    padding: 10px;
    margin-bottom: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background: #c7ddef;
}

.kb-comments-container table {
    margin-top: 10px;
}